* {
  border: 0px solid #333;
  box-sizing: border-box;
  font-family: Roboto, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 300;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 5.6em;
}

h2 {
  font-size: 2.8em;
}

h3 {
  font-size: 2.25em;
}

h4 {
  font-size: 1.7em;
}

h5 {
  font-size: 1.2em;
}

h6 {
  font-size: 1em;
}

p {
  font-size: 0.7em;
}

.hidden {
  display: none;
}

.midnightblue {
  background: #2c3e50;
}

.wisteria {
  background: #8e44ad;
}

.pomegranate {
  background: #c0392b;
}

.pumpkin {
  background: #d35400;
}

.belizehole {
  background: #2980b9;
}

.nephritis {
  background: #27ae60;
}

::placeholder {
  color: #fff;
}
